doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="Kevin Hwang")

    title Yuzu
    link(href="css/bootstrap.min.css", rel="stylesheet")

  body
    div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
      .container
        .navbar-header
          a(class="navbar-brand" href="/") Yuzu

    .jumbotron
      .container
        h1 Hello, Radhika!
        p I'm deeply in love with you, so I thought I'd make you a stupid game.

        p
          a(class="btn btn-primary btn-lg" role="button" href="about") Learn more
    .container
      .row
        .span12
          h2 Play now!
          form(action="/join", method="get")
            label Username
              input(type="text" name="username" id="username" autocomplete="off")
            label Create/Join Room
              input(type="text" name="roomId" id="roomId" autocomplete="off")
            button(class="btn") Go

      hr
      p &copy; Kevin Hwang 2014
