doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="Kevin Hwang")

    title Yuzu - Room #{roomId}
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/room.css", rel="stylesheet")

  body
    div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
      .container
        .navbar-header
          a(class="navbar-brand" href="#") Yuzu

    .container
      .row
        .span12
          h2 Welcome!
          video(id="video", autoplay)
          img(id="screenshot")
          canvas(style="display:none;")

      hr
      p &copy; Kevin Hwang 2014

    script(src="/socket.io/socket.io.js")
    script.
      var roomId = #{roomId};
    script(src="js/room.js")
