doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="Kevin Hwang")

    title Yuzu - Room #{roomId}
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/room.css", rel="stylesheet")

  body
    div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
      .container
        .navbar-header
          a(class="navbar-brand" href="#") Yuzu

    .container
      .row
        .col-md-6
          video(id="video", autoplay)
          img(id="screenshot")
          canvas(style="display:none;")
        .col-md-6
          #sourceImage
      .row
        .col-md-12
          h3 Players
          #players
      .row
        .col-md-12
          button(id="startBtn" class="btn") Start game!

      .row
        .col-md-12
          #gameInfo

      .row
        .col-md-12
          #pictures

      .row
        .col-md-8
          #chat
        .col-md-4
          form(id="chatForm" action="")
            input(id="message" autocomplete="off")
            button(class="btn") Send

      hr
      p &copy; Kevin Hwang 2014

    script(src="js/jquery-2.1.1.js")
    script(src="/socket.io/socket.io.js")
    script.
      var roomId = "#{roomId}";
      var username = "#{username}";
    script(src="js/room.js")
