body {
  padding-top: 60px;
}

#screenshot, #video {
  width: 307px;
  height: 250px;
}

#screenshot {
  display: none;
}

#chat {
  list-style-type: none;
}

#chat li:nth-child(odd) {
  background: #eee;
}

#sourceImage {
  max-height: 500px;
  max-width: 500px;
}

.picture {
  max-width: 500px;
  max-height: 500px;
}

.picture:hover {
    -webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.74);
    -moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.74);
    box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.74);

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}
